@page
@model WebApplication1.Pages.EditModel
@{
}

<h1>Edit Records</h1>

<form method="post">
    <label>Name</label><input asp-for="Name" type="type" name="name" value="" />
    <label>Email</label><input asp-for="Email" type="type" name="email" value="" />
    <label>Phone</label><input asp-for="Phone" type="type" name="contact" value="" />
    <button class="btn btn-success">Edit</button>
</form>